<!DOCTYPE html>
<html>
    <body>
        <form action="/register" method="POST">
            <label for="user_name">User Name</label>
            <input id="user_name" type="text" name="username"/>
            <label for="password">Password</label>
            <input id="password" type="password" name="password"/>
            <button>Sign In</button>
        </form>
    </body>
</html>